.footer {
  background-color: $primaryColor;
  color: white;
  min-height: 3.75rem;

  &-content {
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: inherit;
    text-align: center;
    display: flex;
    flex-direction: column;

    @mixin atMedium {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__text {
    font-size: 0.7rem;
    color: #ccc;

    &--link {
      font-size: 0.9rem;
    }

    &--contact {
      font-size: 1rem;
    }
  }
}
