.home-content {
  display: flex;
  flex-direction: column-reverse;

  @mixin atMedium {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-gap: 30px;
  }
}

.home-content__info {
  padding: 0 1rem 1rem 1rem;

  @mixin atMedium {
    padding: 0;
  }
}

.home-content__recipes {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  @mixin atSmall {
    display: grid;
    align-self: start;
    align-content: start;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 0.3rem;
  }
}

.photo {
  position: relative;
  height: 240px;
  overflow: hidden;
  background-color: #888;
  width: 300px;
  margin: 10px auto;

  @mixin atSmall {
    width: auto;
    margin: 0;
  }
}

.photo1 {
  grid-column-start: 1;
  grid-column-end: 5;
}
.photo2 {
  grid-column-start: 5;
  grid-column-end: -1;
}
.photo3 {
  grid-column-start: 1;
  grid-column-end: 4;
}
.photo4 {
  grid-column-start: 4;
  grid-column-end: -1;
}

.photo__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  transform: scale(1.1);
  transition: all 0.3s ease-out;
}

.photo__info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  color: white;
  text-shadow: 0px 1px 4px #000;
  padding: 1rem 1.5rem;

  &-order {
    font-size: 0.8rem;
    opacity: 0.7;
  }

  &:hover ~ div {
    opacity: 1;
    transform: scale(1);
  }
}
